<html>
    <head>

    </head>
    <body>
        <h1>{{title}}</h1>
        <ul>
            {{#each list}}
                <list>{{this}}</list>
            {{/each}}
        </ul>
    </body>
</html>